{{> header}}
<div class="ui main text container segment">

<div class="ui huge header">Edit {{editblog.title}}</div>
<form class="ui form" method="POST" action="/blogs/{{editblog.id}}/?_method=PUT">
    <div class="field">
    <label>Title</label>    <input type="text" name="title" placeholder="Title" value="{{editblog.title}}">
    </div>
    
    <div class="field"> <label>Image</label> <input type="text" value="{{editblog.image}}" name="image" placeholder="Image">
   
    </div>
    
    <div class="field">
    <label>Blog Content</label> <textarea name="body" placeholder="Content goes here..">{{editblog.body}}</textarea>

    </div>
    
    

   
    <input type="Submit" class="ui violet basic button">
    </form>


</div>
{{> footer}}