{{> header}}
<div class="ui main text container">
<div class="ui huge header">BLOG APP</div>
<div class="ui top attached segment">
    <div class="ui divided items">
{{#each blogs}}
<div class="item">
    <div class="image">
        {{#if image}}
<img src="{{image}}">
        {{else}}
        <img src="/images/blog.jpg">
        {{/if}}
    <div class="content" id="title">
        <a class="header" href="/blogs/{{_id}}">{{title}}</a>
    </div>    
    </div>
   
     <div class="description" id="desc">
    
    {{body}}
    </div>
<div class="extra">
    
    <a class="ui floated basic violet button" id="btn" href="/blogs/{{_id}}">Read More<i class="right chevrom icon"></i></a>
    </div>
 
</div>
{{/each}}    
    </div>
    </div>

</div>


{{> footer}}